.login {
  text-align: center;
}

.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Set the desired height for the container */
}

.cubicle_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field_container {
  margin-bottom: 20px;
}

.button_container {
  margin-top: 20px;
}
