.login {
  text-align: center;
}

.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Set the desired height for the container */
}

.cubicle_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.field_container {
  margin-bottom: 20px;
}

.button_container {
  margin-top: 30px;
}

.button_container2 {
  margin-top: 10px;
}

.button_container button {
  width: 100%;
}

.button_container2 button {
  width: 100%;
}

